<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>Drawer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h3 class="title">Drawer app</h3>
      <div class="header-link">
        <% if user_signed_in? %>
          <div class="user-link"><%= current_user.nickname %></div>
          <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "user-link" %>
        <% else %>
          <%= link_to "Sign in", new_user_session_path, class: "user-link" %>
          <%= link_to "Sign up", new_user_registration_path, class: "user-link" %>
        <% end %>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
